
  .form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    align-items: center;
  }

  .container {
    max-width: 550px;
  
  }
  
.btn {
    margin: 8px;
    border-radius: .3em;
    border: none;
    cursor: pointer;
  }

  label {
    font-size: 18px;
  }

  input textarea {
    width: 100%;
  }