
  .form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    align-items: center;
    color: white;
  }

  .container {
    max-width: 550px;
    color: white;
  
  }
  
.btn {
    margin: 8px;
    border-radius: .3em;
    border: none;
    cursor: pointer;
  }


  label {
    font-size: 18px;
    color: white;
    padding: 5px;
  }

  h2 {
    color: aquamarine;
  }
