.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    cursor: pointer;
    height: 400px;
    width: 300px;
  }

  .container {
    max-width: 250px;
    margin: 5rem 2rem;
  }

  